#container {
    position: relative;
    top: 30px;
    border: 2px solid #3ea7ab;
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
  }
  
  .gridCell {
    border: 1px solid white;
  }
    
  .gridCell:hover{
    background-color: aqua;
}